$rem:17px;
$fon:#24A7ED;
$bfon:#0B83D7;
$white:#fff;
$asideFon:#E5E3DF;
html{
	font-size:$rem;
	height: 100%;
	body{
		height: 100%;
	}
}
.main_wrap{
	width:100%;
	min-height: 100%;
	display: table;
	header, main, footer{
		display:table-row;
	}
	header, footer{
	height: 1px;
	}
}
header{
	.wrap_top{
		padding:5px;
	}
	.line{
		h1{
			float: left;
		}
	}
	.logo{
		float:left;
		width:220px;
		img{
			margin-left:0;
		}
	}
	.contacts{
		float:right;
		li{
			display:inline-block;
			padding:10px;
			vertical-align:middle;
			font-size:1.5rem;
			img{
				opacity:0.7;
			}
			a {
				color:#98CCFD;
			}
			a:hover {
				color:#0B83D7;
				img{
					opacity:1;
				}
			}
		}
	}
	.m_slider {
		.single_promo{
			min-height: 380px;			
			background-position: right;
			background-size: cover;
		}
		.single_promo_slide_1{
			background-image: url('../img/slider-1-light-1.jpg');
		}
		.single_promo_slide_2{
			background-image: url('../img/slider-1-light-2.jpg');
		}
		.single_promo_slide_3{
			background-image: url('../img/slider-1-light-3.jpg');
		}
		.single_promo_slide_4{
			background-image: url('../img/slider-1-light-4.jpg');
		}
		.single_promo_wrapper{
			float: left;
			width: 50%;
			padding-left: 4%;
			padding-top: 60px;	
		}
		.owl-dots{
			position: absolute;
			bottom: 20px;
			left: 4%;
			.owl-dot{
				background-color: #fff;
				width: 9px;
				height: 9px;
				display: inline-block;
				margin-right: 12px;
				vertical-align:middle;
				border:1px solid grey;
				&.active{
					background-color: #6BCDFC;
					width: 12px;
					height: 12px;
				}
			}
		}
		h2 {
			font-weight: 300;
			.blue {
				color: $fon;
			}
		}
		p {
			padding: 30px 0;
			.blue {
				color: $fon;
			}
		}
		a .blue:hover{
			font-weight: bold;
		}
		button {
			padding:15px;
			font-size: 1.3rem;
		}
	}
}
.wrap{
	max-width:1024px;
	margin: 0 auto;
}
.line .wrap, .line.wrap{
	padding:5px;
}
.bline{
	height: 10px;
	background-color: $fon;
}
.line{
 	background-color: $bfon;
 	h1{
 		color:$white;
 		padding: 2px 0 5px;

 	}
}
main{
	& > .wrap.clearfix{
		margin-bottom:20px;
	}
	#services{
		margin:0 -5px;
		overflow: hidden;
			h1{
				margin-left: 5px;
				margin-right: 5px;
			}
	}
}
.service{
	width: 33.333%;
	float: left;
	padding: 5px;
	text-align: center;
	overflow: hidden;
	a:hover{
		h2,p{
			background-color: $fon;
			color:$white;
		}
		img{
			opacity:0.6;
		}
	}
	h2,p{
		padding: 5px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.line{
		@extend.line;
		height: 8px;
	}
}
.thin_line{
	height: 8px;
}

.Bread_crumbs{
	display: none;
	float: right;
	color:$white;
	cursor: default;
	span{
		display: none;
		line-height: 45px;	
		vertical-align: middle;
		cursor:pointer;
		&:hover{
			text-shadow: 2px 2px 1px $asideFon, -2px -2px 1px black;
		}
		&:after{
			content: " \f054";
			font-size: 0.8rem;
		}
	}
	span:last-child{
		&:after{
			content: "";
		}
	}
}
.sinlge_servise_viwer{
	display: none;
	.typical_h1{
		margin-left:5px;
		margin-right:5px;
	}
	.single_service_holder{
		@extend .service;
		h2,p{
			white-space: normal;
		}
		a:hover{
			.service_info{
				background-color: $fon;
			}
		}
	}
}
.chose_hospital{
	display: none;
	margin:0 -5px;
	h1{
		margin-left:5px;
	}
}
.hospital{
	@extend .service;
}
.m_specialist_wrap{
	display: none;
	padding: 10px 0;
	.m_specialist_hold{
		#spec_control{
			width: 100%;
			cursor: pointer;
		}
	}
}
.owl-carousel > .m_single_specialist{//noJS
	float: left;
	width: 33.333%;
}
.m_single_specialist{
	padding: 0 5px;
	&:hover{
		.specialist_info{
			background-color: $fon;
			h3{
				border-bottom: 1px solid $white;
			}
			.just_blue_rectangle{
				background-color: #0000FF;			
			}
		}
		h3,p{
			color:$white;
		}
		img.thumb{
			opacity:0.6;
		}
	}
	img.thumb{
	cursor: pointer;	
	}
}
.specialist_info{
	padding: 10px;
	cursor: pointer;
	text-align: center;
	h3 {
		font-weight: bold;
		font-size: 22px;
		padding-bottom: 10px;
		border-bottom: 1px solid #6D6E71;
	}
	.just_blue_rectangle{
		margin-top: -1px;
		width: 30px;
		height: 3px;
		background-color: #6BCDFC;
	}
	p {	
		padding-top: 10px;
		font-size: 18px;
	}
}
.m_specialist_hold{
	&:hover{
		.owl-nav{
			display: block;
		}
	}
	.owl-nav{
		display: none;
		.owl-prev, .owl-next{
			position: absolute;
			top:40%;
			transform:translateY(-50%);
			opacity:0.5;
			padding: 10px;
			&:hover{
				opacity:0.8;
			}
		}
		.owl-prev{
			left:-35px;
		}
		.owl-next{
			right:-35px;
		}
	}
}
.m_range{
	margin-top:10px;
}
/*********************rangeStart*****************************************************************/
input[type=range].spec_control {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range].spec_control:focus {
  outline: none;
}
input[type=range].spec_control::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
  background: #0000ff;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].spec_control::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0.4px solid rgba(0, 30, 0, 0.57);
  height: 30px;
  width: 17px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].spec_control:focus::-webkit-slider-runnable-track {
  background: #3333ff;
}
input[type=range].spec_control::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
  background: #0000ff;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].spec_control::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0.4px solid rgba(0, 30, 0, 0.57);
  height: 30px;
  width: 17px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].spec_control::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].spec_control::-ms-fill-lower {
  background: #0000cc;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
}
input[type=range].spec_control::-ms-fill-upper {
  background: #0000ff;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
}
input[type=range].spec_control::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0.4px solid rgba(0, 30, 0, 0.57);
  height: 30px;
  width: 17px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 10px;
}
input[type=range].spec_control:focus::-ms-fill-lower {
  background: #0000ff;
}
input[type=range].spec_control:focus::-ms-fill-upper {
  background: #3333ff;
}
input[type=range].spec_control {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range].spec_control:focus {
  outline: none;
}
input[type=range].spec_control::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
  background: #0000ff;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].spec_control::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0.4px solid rgba(0, 30, 0, 0.57);
  height: 30px;
  width: 17px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].spec_control:focus::-webkit-slider-runnable-track {
  background: #3333ff;
}
input[type=range].spec_control::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
  background: #0000ff;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].spec_control::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0.4px solid rgba(0, 30, 0, 0.57);
  height: 30px;
  width: 17px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].spec_control::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].spec_control::-ms-fill-lower {
  background: #0000cc;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
}
input[type=range].spec_control::-ms-fill-upper {
  background: #0000ff;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
}
input[type=range].spec_control::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0.4px solid rgba(0, 30, 0, 0.57);
  height: 30px;
  width: 17px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 10px;
}
input[type=range].spec_control:focus::-ms-fill-lower {
  background: #0000ff;
}
input[type=range].spec_control:focus::-ms-fill-upper {
  background: #3333ff;
}
input[type=range].spec_control {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range].spec_control:focus {
  outline: none;
}
input[type=range].spec_control::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
  background: #0000ff;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].spec_control::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0.4px solid rgba(0, 30, 0, 0.57);
  height: 30px;
  width: 17px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].spec_control:focus::-webkit-slider-runnable-track {
  background: #3333ff;
}
input[type=range].spec_control::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
  background: #0000ff;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].spec_control::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0.4px solid rgba(0, 30, 0, 0.57);
  height: 30px;
  width: 17px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].spec_control::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].spec_control::-ms-fill-lower {
  background: #0000cc;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
}
input[type=range].spec_control::-ms-fill-upper {
  background: #0000ff;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
}
input[type=range].spec_control::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0.4px solid rgba(0, 30, 0, 0.57);
  height: 30px;
  width: 17px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 10px;
}
input[type=range].spec_control:focus::-ms-fill-lower {
  background: #0000ff;
}
input[type=range].spec_control:focus::-ms-fill-upper {
  background: #3333ff;
}

/*********************rangeFinish*****************************************************************/
$grey:#F5F5F5;
.i_dont_care{
	margin-top: 20px;
	background-color: $grey;
	position: relative;
	max-width: 100%;
	height: 100px;
	.blue_rect, .light_blue_rect{
		float: left;
		width: 55px;
		height: 100%;
	}
	.blue_rect{
		background-color: $fon;
	}
	.light_blue_rect{
		background-color: $bfon;
	}
	i{
		position: absolute;
		top:23px;
		left:34px;
		font-size: 54px;
		color:$white;
	}
	h2,p{
		padding:10px 10px 0 20px;
		max-width:80%;
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
	}
	h2{
		color:$fon;
	}
	button{
		position: absolute;
		right:20px;
		top:29px;
		padding: 10px;
		background-color: $bfon;
		color:$white;
		border:2px solid $bfon;
		cursor: pointer;
		&:hover{
			background-color: $white;
			color: $bfon;
		}
	}
}

.contacts_page{
	display: none;
	.contacts_left{
		float: left;
		width: 66.666%;
		padding-right:15px;
	}
	.filials{
		float: right;
		width: 33.333%;
		margin-top:56px;
		.hospital{
			@extend .service;
			width: 100%;
			background-color: $asideFon;
		}
	}
}
.typical_h1{
	font-size: 1.8rem;
	margin: 10px 0;
	padding: 0 10px;
	border-left:4px solid $fon;
	text-align: left;
}
.typical_h2{
	@extend .typical_h1;
	font-size: 1.5rem;
}

form{
	label{
		display:block;
		margin:10px 0;
		cursor: pointer;
	}
	.form_group{
		margin:10px 0;
	}
	.form_group.left{
		float: left;
		width: 47%;
	}
	.form_group.right{
		float: right;
		width: 47%;
	}
	.form_group.text{
		margin:20px 0;
	}
	input, textarea{
		width:100%;
		padding: 5px;
		line-height: 150%;
		font-size: 1rem;
		border: 2px solid darken(#F5F5F5, 20%);
		border-radius:5px;
		&:active{
			border: 2px solid $fon;
		}
	}
	textarea{
		min-height:30px;
		resize: vertical;
	}
}
.appointment_form{
	padding-top: 20px;	
	padding-right: 20px;	
}

button.light{
	background-color: #213540;
	border:3px solid $fon;
	padding: 10px;
	margin:0 0 10px 0;
	color:$fon;
	cursor: pointer;
	&:hover{
		border:3px solid $white;
		color:$white;
	}
}
.calendar_holder{
	display: none;
	overflow: hidden;
	.typical_h1{
		float: left;
	}
	.monthYear{
		padding-right: 20px;
		float: right;
		font-size: 1.6rem;
		line-height: 30px;
		vertical-align: middle;
		margin:10px 0;
		img{
			padding: 10px;
			cursor: pointer;
			display: inline-block;
			height: 50px;
			margin-bottom:-17px;
		}
	}
}
.calendar{
	position: relative;
	width: 100%;
	//border-collapse: collapse;
	.date, th{
		font-size: 1.4rem;
		line-height: 50px;
		vertical-align: middle;
		text-align: center;
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		
	}
	.date{
		border:10px solid $bfon;
		color:$white;
  		background-color: $fon;		
	}
	th{
		cursor: default;
		//background-color: $asideFon;
	}
	.today{
		border:10px solid DarkBlue;
	}
	.avaliableDate{
		cursor: pointer;
		&:hover{
			background-color: $white;
			color:$fon;
		}
	}
	.notAvaliableDate{
		cursor: default;
		opacity: 0.7;
	}
}

.Make_an_Appointment{
	display: none;
}
.appointment_holder{
	.appointment{
		float: left;
		width: 66.666%;
		ul{
			float: left;
			width: 50%;
			padding-right: 20px;
			li{
				padding:10px 5px;
				border-bottom:2px solid $fon;
				font-size: 1.2rem;
				text-align: center;
			}
		}
		.change_desc{
			padding: 20px 20px 20px 0;
			div {
				float: left;
				width: 30.666%;
				padding:10px 5px;
				border:2px solid $fon;
				font-size: 1.2rem;
				text-align: center;
				margin-right:4%;
				cursor: default;
			}
			.last_desc{
				margin-right:0;
			}
		}
	}
	.spec_hosp{
		background-color: $asideFon;
		float: left;
		width: 33.333%;
		.sh_single_specialist{
			padding: 5px;
			margin-bottom:20px;
			.specialist_info{
				cursor: default;
			}
			.line{
			height: 8px;
			}
		}
		.hospital{
			width: 100%;
		}
		
	}
}
.available{
	cursor: pointer;
	&:hover{
		background-color: $fon;
		color:$white;
	}
}
div.not_available{
	cursor: pointer!important;
}
.not_available{
	cursor: url('../img/not_avaliable.png'),crosshair;
	background-color: $asideFon;
	-moz-user-select: none;
	-webkit-user-select: none;
	&:hover{
		border-color: red!important;
		color:$white;
	}
	&:active{
		background-color: red;
	}
}
.chosen{
	background-color: $bfon;
	color:$white;
	&:hover{
		background-color: Lime;
	}
}

footer{
	/*h3{
		float:left;
		width: 25%;
		padding:10px 5px 20px 0px;
		a{
			color:$white;
		}
		a:hover{
			text-decoration:underline;
		#}
	}*/
	background-color: #213540;
	.row{
		margin:0 -15px;
		padding: 50px 0 10px;
	}
}
.f_section{
	float: left;
	width: 25%;
	text-align: center;
	padding:0 15px;
	h3{
		padding: 30px 0 10px;
		a{
			color: $white;
			&:hover{
				text-shadow: 2px 2px 1px $bfon;
			}
		}
	}
	p{	
		font-size: 0.8rem;
		line-height: 1.5;
		color: $bfon;
		padding: 20px 0;
		border-bottom: 1px solid #717579;
	}
	p:last-of-type{
		border-bottom:0;	
	}
}
.f_section.location{
	img{
		padding-bottom: 7px;
	}
	p{
		border-bottom:0;
		padding-bottom: 10px;
	}
	p.info{
		color: $white;
		font-size: 1rem;
		padding: 5px 0px 10px;
	}
	i {
		display: block;
		width: 30px;
		height: 30px;
		margin: 0 auto;
		font-size: 20px;
		line-height: 30px;
		color: #213540;
		background: #008fd5;
	}
	a{
		display: block;
	}
	a:hover{
		i{
			color:$white;
		}
	}
	nav{
		vertical-align: middle;
		padding-top: 10px;
		a{
			display: inline-block;
			width: 46px;
			height: 46px;
			margin: 5px;
			font-size: 24px;
			line-height: 24px;
			color: #008fd5;
			padding: 8px;
			border: 3px solid #008fd5;
		}
		a:hover{
			color:$white;
			border-color: $white;
		}
	} 
	
}
.f_section.recent_posts{
	img{
		padding-bottom: 12px;
	}
	a:hover{
		img{
			opacity:0.7;
		}
	}
	.post_img{
		padding:0 10px 10px 0;
		float: left;
		max-width: 33.333%;	
	}
	.post_content_wrap{
		float: left;
		width:66.666%;
	}
	.post{
		padding: 18px 0;
		border-bottom: 1px solid #717579;
		&:last-child{
			border:none;
		}
		p{
			padding: 0 0 5px 0;
			text-indent: 20px;
			border:none;
			text-align: left;
		}
		p.post_date{
			color:$white;
			text-indent: 0;
		}
	}
}
.f_section.work_time{
	dl{
		font-size: 0;
		background-color: $bfon;
		padding-top: 60px;
		margin-top: -33px;
	}
	dt,dd{
		display: inline-block;
		font-size: 0.8rem;
		padding:10px 0;
		margin: 0;
		vertical-align: middle;
  		color:$white;
	}
	dt{
		width:20%;
		margin-right:15%;
		position: relative;
		text-align: center;
		&:after{
		    content: '';
		    position: absolute;
		    top: 50%;
		    right: -23px;
		    width: 20px;
		    height: 1px;
		    background: #213540;	
		}
	}
	dd{
		width: 65%;
		text-align: left;
	}
	.line{
		height: 1px;
		background-color: $fon;
	}
}
button.blueBut{
	margin: 30px auto 40px;
	font-size: 1rem;
	background-color: #0000FF;
	color:$white;
	padding:10px;
	border: 2px solid #0000FF;
	cursor: pointer;
	&:hover{
		border: 2px solid $white;
	}
}
