h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;	
}
a:focus,
input:focus,
button:focus{
	outline: none;
	text-decoration: none;
}

//COLOR PALLETE
$text: #6d6e71;
$blue: #1faae2;

p,
a,
h1,
h2,
h3,
div{
	color: $text;
}